/* Global Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #e6f0ff;
    color: #333; /* Colore del testo base */
    margin: 0;
    padding: 0;
    text-align: left; /* Default: testo allineato a sinistra */
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header {
    background-color: #003366;
    color: white;
    padding: 20px;
    width: 100%;
    display: flex; /* Flexbox per l'allineamento orizzontale */
    justify-content: flex-start;
    align-items: center;
    z-index: 10;
}

header h1 {
    font-size: 3em;
    margin: 0;
    text-transform: uppercase; /* Testo maiuscolo */
}

h2 {
    font-size: 1.6em;
    margin: 5px 0;
    color: #003366;
    font-weight: bold;
    text-align: left; /* Allineamento del titolo h2 */
}

h3 {
    font-size: 1.8em;
    color: #003366;
    margin-bottom: 15px;
}

h4 {
    font-size: 1.4em;
    color: #003366;
    margin-bottom: 7px;
}

h5 {
    font-size: 1.2em;
    color: #003366;
}

/* Container centrale */
.container {
    max-width: 1000px;
    margin: 30px auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: left; /* Allineamento del contenuto a sinistra */
}

/* Content - Testo principale */
.content {
    flex: 1;
    font-size: 1.1em;
    line-height: 1.6;
    margin-bottom: 20px;
    padding: 25px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow-y: scroll;
    scrollbar-width: none; /* Disabilita scrollbar per Firefox */
}

.content::-webkit-scrollbar {
    display: none; /* Disabilita scrollbar per Chrome, Safari, Edge */
}

.blue-text {
    color: #003366;
}

a {
    color: #003366;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

img {
    max-width: 100%;
    height: auto;
}

/* Sidebar */
.sidebar {
    height: 100vh;
    width: 220px;
    background-color: #e6f0ff;
    padding-top: 20px;
    padding-right: 7px;
    padding-left: 7px;
    color: white;
    font-family: Arial, sans-serif;
    font-size: 1.1em;
    overflow-y: auto;
    padding-left: 15px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    display: none; /* Nascondi la sidebar per default */
}

.sidebar.active {
    display: block; /* Mostra la sidebar quando è attiva */
}

.sidebar h2 {
    margin-bottom: 13px;
    font-size: 1.3em;
    color: white;
    text-align: left;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    margin: 5px 0;
}

.sidebar ul li a {
    text-decoration: none;
    color: white;
    display: block;
    padding-left: 8px;
    font-size: 1.1em;
}

.sidebar ul li a:hover {
    color: #ddd;
}

.sidebar ul li ul {
    margin-left: 15px;
    font-size: 0.9em;
}

/* Code Blocks */
pre {
    background-color: #1e1e1e;
    color: #ffffff;
    border-radius: 5px;
    padding: 10px;
    overflow-x: auto;
    font-family: "Courier New", Courier, monospace;
    font-size: 1em;
    margin-bottom: 20px;
}

/* Highlight Text */
.highlight {
    color: #003366;
    font-weight: bold;
}

/* Responsiveness */
@media screen and (max-width: 768px) {
    header h1 {
        font-size: 2.5em;
    }

    .main-container {
        flex-direction: column;
    }

    .sidebar {
        width: 100%;
        height: auto;
        position: relative;
        padding: 10px;
    }

    .content {
        margin-top: 120px;
        width: 100%;
        padding-top: 20px;
    }

    .centered-heading {
        font-size: 2em;
    }

    h2 {
        font-size: 1.8em;
    }

    h3 {
        font-size: 1.3em;
    }

    h4 {
        font-size: 1.2em;
    }

    h5 {
        font-size: 1.1em;
    }

    .menu-icon {
        display: block; /* Mostra l'icona del menu a tendina sui dispositivi mobili */
    }
}
